<h1 class="ui dividing header">Outages by Service</h1>
<div class="ui grid">
  <% services.each do |service| %>
    <div class="eight wide column">
      <div class="ui segment">
        <div class="service-outages-pane" data-service="<%= service.name %>"><%= service.name %></div>
        <div class="ui accordion">
          <div class="title">
            <i class="icon dropdown"></i>
            Outage Table
          </div>
          <div class="content">
            <table class="ui celled padded table">
              <thead>
                <th>Start Time</th>
                <th>End Time</th>
              </thead>
              <tbody>
                <% service.outages_in_range(start_time: Time.now - CircuitBreaker::Dashboard::TWO_WEEKS, end_time: Time.now).each do |outage| %>
                  <tr>
                    <td><%= outage.start_time.strftime('%-m/%-d/%Y %H:%M:%S') %></td>
                    <td><%= outage.end_time.strftime('%-m/%-d/%Y %H:%M:%S') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
