<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>CircuitBreaker Dashboard</title>
    <link rel='stylesheet' href="/semantic.min.css" type='text/css' media="screen, projection">
    <link rel='stylesheet' href="/app.css" type='text/css' media="screen, projection">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/app.js"></script>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          CircuitBreaker Dashboard
        </a>
      </div>
    </div>

    <div class="ui main container">
      <div class="ui two item menu">
        <a class="active item" href="/">Outages</a>
        <a class="item" href="/requests">Requests</a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
